[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
numpy = "*"
pymongo = "*"
python-chess = "==0.23.10"
Keras = "==2.3.1"
requests = "*"
tensorflow = "==1.15.4"
h5py = "==2.10.0"

[dev-packages]

[requires]
python_version = "3.7"
